<div class="container main-box-form mt-4 shadow justify-content-center">
  <%= simple_form_for [@ong, @shelter] do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :address %>
    <%= f.input :max_capacity %>
    <%= f.button :submit, class: "btn btn-success btn-form p-2" %>
  <% end %>

  <%= link_to ong_path(@ong), class: 'btn btn-info btn-form' do %>
      Back
  <% end %>
</div>