<div class="d-flex justify-content-center text-center">
  <% userid = Ong.find(@shelter.ong_id).user_id %>

  <div style="width: 40vw">
    <h2 class="card-title m-3"><%= @shelter.name %></h2>
    <p class="card-text text-justify">
      <strong>Descripción:</strong> <%= @shelter.description %><br>
      <strong>Dirección:</strong> <%= @shelter.address %><br>
      <strong>Capacidad:</strong> <%= @shelter.max_capacity %>
    </p>
    <% if current_user.id == userid %>
    <%= link_to edit_shelter_path(@shelter), class: 'btn btn-primary rounded' do %>
        Editar refugio
      <% end %>
      <!-- Delete link -->
      <%= link_to shelter_path(@shelter), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger p-2 m-2' do %>
        Borrar refugio
      <% end %>
    <% end %>
    <%= link_to ong_path(@shelter.ong), class: 'btn btn-info p-2' do %>
      Atras
    <% end %>
      <!-- Add code here to show shelter's beds with availability status -->
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center p-4 m-4">
    
    <% @shelter.beds.each_with_index do |bed, id| %>
      <div class="p-2 m-2 rounded border border-dark text-center" style="width: 20%; margin-top: auto; margin-bottom: auto">
        <p style="font-size: 120%">
          <strong>Cama <%= id+1 %>:</strong><br>
          <%= bed.status %> <%= button_to 'Reservar', shelter_bookings_path(@shelter, bed_id: bed.id) , class: 'btn btn-lg btn-info btn-lg' if bed.status == "disponible"%>
          
          <% if bed.status == "ocupada" && current_user.id == userid %>
            <%= button_to 'Restaurar', restaurar_path(bed_id: bed.id), class: 'btn btn-lg btn-success btn-lg' %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>