<style>
  .card {
    transition: all 0.2s ease;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
</style>

<div class="container text-center mt-4">
  <div class="p-3">
    <h1>Servicios de Apoyo a Migrantes</h1>
    <hr class="solid">
  </div>

  <div class="container">
<div class="d-flex flex-wrap justify-content-between">
    <% @services.each do |service| %>
      <div class="card" style="width: 300px; height: 100%;">
        <div class="img">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= service.name %>
            <%= Ong.find(service.ong_id).name %>
          </h5>
          <p><%= service.description %></p>
          <% if service.date_from && service.date_to %>
            <p>Fecha: <%= service.date_from.strftime('%d %B %Y') %> to <%= service.date_to.strftime('%d %B %Y') %></p>
          <% else %>
            <p>Fecha: No especificado</p>
          <% end %>

          <%= button_to "Participar", volunteerings_path(service_id: service.id), class: 'btn btn-success mt-3' %>
        </div>
      </div>
    <% end %>
</div>
  </div>
</div>
