<script>
  AOS.init();
</script>

<div id="carouselExampleInterval" class="carousel slide carousel-fade mt-0 position-relative" data-bs-ride="carousel">
  <div class="container w-50">
    <h4 class="h1-carousel position-absolute lora-home"><strong>Conectamos servicios y ayuda a migrantes</strong></h4>
    <h5 class="h2-carousel position-absolute lora-home">EN TERRITORIO MEXICANO</h5>

  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000" style="height: 80vh;">
      <%= image_tag "alimentos.png", class:"img d-block w-100" %>
    </div>
    <div class="carousel-item" data-bs-interval="3000" style="height: 80vh;">
      <%= image_tag "albergue.png", class:"img d-block w-100" %>
    </div>
    <div class="carousel-item active" data-bs-interval="3000" style="height: 80vh;">
      <%= image_tag "protection.png", class:"img d-block w-100" %>
    </div>

    <div class="carousel-item" data-bs-interval="3000" style="height: 80vh;">
      <%= image_tag "medicina.png", class:"img d-block w-100" %>
    </div>
    <div class="carousel-item" data-bs-interval="3000" style="height: 80vh;">
      <%= image_tag "legal.png", class:"img d-block w-100" %>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>






<!-- horizontal -->
<h2 class="h2 mt-4 ms-5 mb-4 text-center" data-aos="fade-down" data-aos-duration="1000">Soy Migrante</h2>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Quiero Refugio</h1>
    </div>
    <div class="back">
       <h2>Refugio</h2>
       <p>Encuentra un lugar cerca de ti para dormir.</p>
        <%= link_to "Refugio", shelters_path, class: "btn btn-primary btn-sm mb-2" %>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Comunícate</h1>
    </div>
    <div class="back">
      <h2>Comunícate</h2>
      <p>Ponte en contacto con mas personas.</p>
      <a href="#" class="btn btn-primary btn-sm mb-2">Chat</a>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Entérate</h1>
    </div>
    <div class="back">
        <h2>Entérate</h2>
        <p>Mantente informado de lo que pasa cerca de ti.</p>
        <%= link_to "Anuncios", anuncios_path, class: "btn btn-primary btn-sm mb-2" %>
    </div>
</div>

<br>
<br>

<!-- vertical -->
<h2 class="h2-ong mt-5 ms-5 mb-4 text-center" data-aos="fade-down" data-aos-duration="1000">Soy ONG</h2>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Ofrece Refugio</h1>
    </div>
    <div class="back">
      <h2>Ofrece refugio</h2>
      <p>Brinda seguridad a personas migrantes.</p>
      <%= link_to "Nuevo Refugio", ongs_path, class: "btn btn-primary btn-sm mb-2" %>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Anuncia</h1>
    </div>
    <div class="back">
      <h2>Anuncia</h2>
      <p>Publica cualquier información que sea útil.</p>
      <a href="#" class="btn btn-primary btn-sm mb-2 ">Nuevo Anuncio</a>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Busco Voluntarios</h1>
    </div>
    <div class="back">
      <h2>Busco voluntarios</h2>
      <p>¿Necesitas voluntarios? Aquí puedes hacerlo.</p>
      <a href="#" class="btn btn-primary btn-sm mb-2">Nuevo Servicio</a>
    </div>
</div>

<h2 class="h2-vol mt-5 ms-5 mb-4 text-center" data-aos="fade-down" data-aos-duration="1000">Soy Voluntario</h2>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Participa con ONG's</h1>
    </div>
    <div class="back">
      <h2>Participa con ONG's</h2>
      <p>¿Quieres ayudar? Forma parte para crear un cambio.</p>
      <%= link_to "Únete", services_path, class: "btn btn-primary btn-sm mb-2" %>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Conecta</h1>
    </div>
    <div class="back">
      <h2>Conecta</h2>
      <p>Únete a la comunidad migrante para ayudar.</p>
      <a href="#" class="btn btn-primary btn-sm mb-2">Chat</a>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">Publica</h1>
    </div>
    <div class="back">
       <h2>Publica</h2>
       <p>Publica cualquier información que sea útil.</p>
      <a href="#" class="btn btn-primary btn-sm mb-2">Publica</a>
    </div>
</div>
<h2 class="h2-us mt-5 ms-5 mb-4 text-center" data-aos="fade-down" data-aos-duration="1000">Sobre Nosotros</h2>
<div class="last-card mt-4 container mx-auto" style="max-width: 1000px;" data-aos="zoom-in" data-aos-duration="2000">
  <div class="row g-0 d-flex">
    <div class="col-lg-6">
      <%= image_tag "volunteer.png", class:"img-fluid rounded-start" %>
    </div>
    <div class="col-6">
      <div class="card-body m-4">
      <h5 class="card-title">InfoAppMex es... </h5>
      <p class="card-text">Una iniciativa 100% mexicana. Somos tres emprendedores recién llegados al sector digital. Tenemos un corazón empático hacia las causas sociales. Entre nuestro conjunto de habilidades, tenemos extenso conocimiento sobre comunicaciones y diseño, ciencias ambientales, así como el manejo de organizaciones benéficas, sin fines de lucro y proyectos de asistencia humanitaria.</p>
      <p> Ayudando desde el año 2023</p>
    </div>
  </div>
</div>