
<div class="container main-box mt-4 shadow justify-content-center text-white">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center" style="overflow: hidden; margin: auto">
        <%= image_tag(@ong.photo, class: "p-2", style: "width: 100%; height:100%; border-radius: 20px; object-fit:cover; aspect-ratio: 1/1")%>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body p-4 two-columns">
        <div>
          <p class="card-text mb-3">
            <strong>Descripción:</strong> <%= @ong.description %><br>
            <strong>Dirección:</strong> <%= @ong.address %><br>
          </p>
          <div class="mt-2">

          <% if current_user.id == @ong.user_id %>

            <%= link_to edit_ong_path(@ong), class: 'btn btn-success bg-white  text-decoration-none m-1 btn-sm' do %>
              Editar
            <% end %>

            <!-- Delete link -->
            <%= link_to ong_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-success bg-white text-decoration-none m-1 btn-sm' do %>
              Borrar
            <% end %>

            <%= link_to new_ong_service_path(@ong), class: 'btn btn-success text-decoration-none m-1 btn-sm' do %>
              Nuevo Servicio
            <% end %>

          <% end %>
          </div>
        
        </div>
        <div class="container2-2 ">
          <% @ong.services.each do |servicio| %>    
            <div class="card card-hover">
              <div class="card-body">
                <h5 class="card-title"><%= servicio.name %></h5>
                <p class="card-text"><%= servicio.description %></p>
              </div>
            </div>   
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="m-4">
      <%= link_to ongs_path, class: 'btn btn-info' do %>
        Volver
      <% end %>
    </div>
    <div>
      <h3 class="m-4 text-center">Refugios</h3>
      <hr>
    </div>

    <div class="container p-3 two-columns">
      <div class="d-flex align-content-start justify-content-center flex-column">
        <%= link_to new_ong_shelter_path(@ong), class: 'btn-flat p-3 m-2 text-decoration-none' do %>
          Nuevo Refugio
        <% end %>

        <% if @ong.shelters.empty? == false %>
          <% @ong.shelters.each do |shelter| %>
            <%= link_to shelter_path(shelter), class: "text-decoration-none" do %>
              <div class="card-left shadow-sm m-2 rounded">
                <div class="card-body">
                  <h5 class="card-title"><%= shelter.name %></h5>
                  <p class="card-text">
                    <strong>Dirección:</strong> <%= shelter.address %><br>
                    <strong>Capacidad:</strong> <%= shelter.max_capacity %><br>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>          
        <% end %>
      </div>
      <div style="border: 2px solid; border-color: #b8ae8d; aspect-ratio: 1/1">
        <div style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @shelter_markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
