<!DOCTYPE html>
<html>
  <head>
    <title>Infoappmex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Alata&family=Roboto+Mono:wght@300&family=Source+Code+Pro&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
  <div class="image-container" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)), url(<%=image_path 'frontera.png'%>)">
    <%= yield %>
  </div>
    <div class="footer pt-2">
      <div class="footer-links mt-3 mb-3">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-menu d-flex mx-auto">
        <ul>
        <li><%= link_to 'Inicio', ongs_path %></li>
        <li><%= link_to 'Comunidad', ongs_path %></li>
        <li><%= link_to 'Servicios', ongs_path %></li>
        <li><%= link_to 'Refugio', ongs_path %></li>
        </ul>
      </div>
      <div class="logo-footer">
        <i><%= image_tag "logo.png" %></i>
      </div>
    </div>
  </body>
</html>
